.qs-controller--content {
  width: 100%;
  background-color: #fafafa;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .qs-controller--content__list {
    width: calc(100% - 64px);
    flex-grow: 1;
  }

  .qs-controller--content__add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #478de2;
    color: #478de2;
    width: 100%;
    height: 80px;
    cursor: pointer;
  }
}
