.qs-edit-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-wrap: nowrap;
  flex-grow: 0;
  width: 300px;
  min-width: 300px;
  overflow: auto;
}

.qs-edit-add-question {
  width: 44%;
  margin: 5px 2%;
  text-align: left; 
}