.qs-analysis--container__setting {
  min-width: 600px;
  overflow: auto;
  background-color: #fff !important;
  box-shadow: rgb(0 0 0 / 0%) 0px 7px 8px -4px, rgb(0 0 0 / 10%) 0px 12px 17px 2px, rgb(0 0 0 / 0%) 0px 5px 22px 4px;
}
