.qs-base {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;

  .qs-base--header {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 12%), 0px 1px 0px 0px rgb(232 232 232);
    z-index: 2;
  }

  .qs-base--container {
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fafafa;
    overflow: auto;
  }

  .qs-base--footer {
    flex-grow: 0;
    height: 50px;
    border-top: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 12%), 0px 1px 0px 0px rgb(232 232 232);
  }
}
