.ant-upload.ant-upload-select-picture-card {
    width: 80px;
    height: 80px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;
    overflow: hidden;
  }
  